body {
  background-color: #f5f7f8;
  background: url(img/背景图_画板\ 1.png);
  background-attachment: fixed;
  background-size: cover;
  margin: 10px;
}
.home {
  /* background-color: #f5f7f8; */
  /* min-height: 70vh;
  max-height: 80vh;

  max-width: 80vw;
  min-width: 50vw; */
  width: 80vw;
  height: 70vh;
  margin: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.left {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 62.5%;
  margin: 50px 0 50px 0;
}
.right {
  /* background-color: pink; */
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 50px 0 50px 0;
}
.box1 {
  /* height: 60%; */
  flex: 1;
}
.box2 {
  /* height: 25%; */
  flex: 1 1 25%;
  margin-bottom: 2.5%;
}
.box3 {
  /* width: 48%; */
  flex: 1;
  margin-right: 2.5%;
}
.box4 {
  /* height: 70%; */
  flex: 1 1 70%;
  margin-top: 2.5%;
}
.box5 {
  /* width: 48%; */
  flex: 1;
  margin-left: 2.5%;
}
.bigbox {
  display: flex;
  flex: 1;
  margin-top: 5%;
  /* height: 35%; */
  justify-content: space-between;
  /* align-items: flex-end; */
}
