body {
  background-color: #f5f7f8;
  background-image: url(img/背景图_画板\ 1.png);
  background-size: 100%;
}
.bj {
  background-color: bisque;
  max-width: 950px;
  height: 400px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.box {
  width: 200px;
  height: 200px;
  margin-top: 20px;
  background-color: pink;
  padding: 25px 0 0 25px;
}
.zuo {
  float: left;
}
.you {
  float: right;
  margin-left: 20px;
}
.hang {
  display: flex; /*弹性布局*/
  flex-direction: row; /* row 就是横着放 对应的上面的*/
}
.nz {
  margin-left: 50px;
}
.ny {
  margin-right: 50px;
}
.n1 {
  width: 550px;
  height: 200px;
  background-color: rgb(176, 54, 49);
}
.n3,
.n5 {
  width: 239px;
  height: 75px;
}
.n2 {
  height: 75px;
  background-color: rgb(51, 168, 165);
}
.n4 {
  height: 200px;
  background-color: rgb(107, 72, 143);
}
.c3 {
  background-color: rgb(49, 154, 123);
}
.c5 {
  background-color: rgb(219, 112, 43);
}
